<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    
    <body style="background-image: url({{ url_for('static', filename='background.jpg') }}); height: 100%; background-position: center; background-repeat: no-repeat;background-size: cover; z-index:0;"> 
        <div class="card">
        <p> Username <br> <input type="text">  </p>
        <p> Password <br> <input type="password"> </p>
        <input type="submit" value="Login">
        <p> Don't have an account? Sign up. </p>
        <a href="/register"> Sign Up </a> <br> <br><br>
        <a href="/"> Landing Page </a>
        </div>
    </body>
</html>
