<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    
    <body style="background-image: url({{ url_for('static', filename='background.jpg') }}); height: 100%; background-position: center; background-repeat: no-repeat;background-size: cover; z-index:0;"> 
        <div class="card">
        <form method="POST">
            <p> Thank you for using Asclepius. Come back soon! </p>
            <input type="submit" value="Login">
        </form>
        </div>
    </body>
</html>
