<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div id="content">
            <div id="create_post">
                <input type="text" placeholder="UwU">
            </div>
            <div id="posts">
                <div class="post">
                    <h1>Title</h1>
                    <p> Username </p>
                </div>
                <div class="post">
                    <h1>Title</h1>
                    <p> Username </p>
                </div>
            </div>
        </div>
    </body>
</html>

