<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    
     <body>
        <p> Username <br> <input type="text">  </p>
        <p> Password <br> <input type="password"> </p>
        <p> Please send a link to an image. If you are a doctor, please send a link to an image of yourself holding a piece of paper with your name written. You may use an imgur link or anything else to link an image. </p>
        <p> Image Link <br> <input type="text"> </p>
        <p> If you are a doctor, please enter a description proving you are a doctor (for example, send a url to your credentials). If you are not a doctor, enter any text desired for the description </p>
        <p> Description <br> <textarea name="hello" rows="4" cols="50" > </textarea> </p>
        <p> Who are you? </p>
        <input type="radio" name="role" value="doctor">
        <label for="doctor">Doctor</label><br>
        <input type="radio" name="role" value="user">
        <label for="user">User</label><br>
    </body>
</html>
