<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    
     <body style="background-image: url({{ url_for('static', filename='background.jpg') }}); height: 100%; background-position: center; background-repeat: no-repeat;background-size: cover; z-index:0;"> 
        <div class="card">
        <form method="POST">
        <input type="text" name="username" placeholder="Username"> <br> <br>
        <input type="password" name="password" placeholder="Password"> <br> <br>
        <p> Please send a link to an image. If you are a doctor, please send a link to an image of yourself holding a piece of paper with your name written. You may use an imgur link or anything else to link an image. </p> <br>
        <input type="text" name="img" placeholder="Image Link"> <br>
        <p> If you are a doctor, please enter a description proving you are a doctor (for example, send a url to your credentials). If you are not a doctor, enter any text desired for the description </p> <br> <br>
     <textarea name="hello" rows="4" cols="50" placeholder="Description"></textarea> <br> <br>
        <p> Who are you?</p> <br> <br>
        <input type="radio" name="role" value="True">
        <label for="doctor">Doctor</label> 
        <input type="radio" name="role" value="False" checked="checked">
        <label for="user">User</label> <br> <br>
        <input type="submit" value="Submit"> <br> <br>
        <a href="/"> Landing Page </a>
        </form>
        </div>
    </body>
</html>
